*
 box-sizing: border-box

body
 font-family: 'Museo Sans Cyrillic Light', sans-serif
img
 max-width: 100%
.container
 width: 1170px
 margin: auto

.button
 border-radius: 10px
 background-color: $main-color
 border: none
 padding: 17px 30px 18px 30px
 +bold
 &:hover
  background-color: lighten($main-color, 10%)
  cursor: pointer
.section
 padding: 55px 0
 &-title
  font-size: 24px
  +bold
 &-subtitle
  display: block
  font-size: 16px
 &-subtex
  font-size: 15px
  line-height: 24px
 &-phone
  text-decoration: none
  color: $text-color
  +bold
.input
 border: 1px solid $border-input
 padding: 23px 26px 24px 30px
 font-size: 15px
 border-radius: 10px

.modal
 text-align: center
 &-subtex
  font-size: 15px
 &__phone
  font-size: 24px
  +bold
 &-button
  border-radius: 10px
  background-color: $main-color
  border: none
  +bold
  padding: 28px 30px 25px 30px

  &:hover
   background-color: lighten($main-color, 10%)
   cursor: pointer