.portfolio
 background: $header-color url('../img/portfolio/portfolio-bac.jpg') repeat-y
 background-size: 50%
 &__title
  margin: auto
  margin-top: 33px
  margin-bottom: 95px
  font-size: 30px
  line-height: 45px
  &-block
   display: block
 &__arrows
  max-width: 120px
  margin: auto
  margin-top: 72px
  display: flex
  justify-content: space-between

.slider
 &__item
  margin-left: -30px
  width: 370px
  margin-right: 30px
